body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: whitesmoke;
}

p {
    font-size: 14pt;
}

.jumbotron {
    color: rgb(31, 202, 202);
    background-color: white;
    height: 300px !important;
}

#jumbotron-title {
    position: absolute;
    top: 50px;
    right:20px;
    background: -webkit-linear-gradient(left top, lightblue, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    

}

#jumbotron-time {
    position: absolute;
    font-size: 14pt;
    top: 270px;
    right: 15px;
    color: cyan;
}


.contentRow {
    border: 1px solid rgb(174, 237, 241);
}

textarea {
    resize: none;
}

/* Parallax Stuff */

.parallax {
    background-image: url(../assets/images/backgrounds/sunset-ibaraki.jpg);
    background-attachment: fixed;
    background-position: 0% 140%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.title {
    position: absolute;
}

.header {
    margin: 25px;
    margin-top: 90px;
    padding: 5px;
    border-bottom: 2px solid rgb(31, 202, 202)
}

#mypicture {
    float: left;
    max-height: 720px;
    max-width: 480px;
}

.title-header {
    color: rgb(145, 160, 157);
    text-decoration: underline;
    text-decoration-color: rgb(31, 202, 202);
}

.small-notes {
    font-size: 10pt;
}

.center {
    margin: 0 auto;
    display: block;
}

.main-notes {
    font-size: 13pt;
    text-indent: 50px;
}

form {
    margin: 0 auto;
    width: 50%
}

a {
    font-size: 14pt;
}

#left-side-title {
    margin-left: 180px;
}


@media only screen and (max-width: 640px){

    #left-side-title {
        margin-left: 150px;
        display: block;
    }


    .parallax {
        background-position: 60% 60%;    
    }

    #jumbotron-title {
        position: absolute;
        top: 80px;
        right:30px;
        font-size: 24pt;
        background: -webkit-linear-gradient(top right, lightblue, pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    
    }

    #jumbotron-time {
        position: absolute;
        font-size: 14pt;
        top: 60px;
        right: 15px;
        color: cyan;
    }
    
    #mypicture {
        padding-left: 10px;
        width: 360px;
        height: 240px;
        margin: 0 auto;
    }

    .title-header{
        padding-left: 15px;
    }

    .main-notes {
        padding: 10px;
    }

    a{
        padding-left: 50px;
    }
}
