body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: whitesmoke;
    margin-top: 70px;
}

.jumbotron {
    color: rgb(31, 202, 202);
    background-color: white;
    height: 250px !important;
}

.contentRow {
    border: 1px solid rgb(174, 237, 241);
}

.parallax {
    background-image: url(../assets/images/backgrounds/sunset-ibaraki.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: 0% 130%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.title {
    position: absolute;
}

.header {
    margin: 25px;
    padding: 5px;
    border-bottom: 2px solid rgb(31, 202, 202)
}

#mypicture {
    float: left;
    max-height: 720px;
    max-width: 480px;
}

.title-header {
    color: rgb(145, 160, 157);
    text-decoration: underline;
}

.smallNotes {
    font-size: 10pt;
}

.center {
    margin: 0 auto;
    display: block;
}

.mainNotes {
    text-indent: 50px;
}