body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: whitesmoke;
}

.jumbotron {
    color: rgb(31, 202, 202);
    background-color: white;
    height: 250px !important;
}

#jumbotron-title {
    position: absolute;
    top: 180px;
    right:20px;
}

#jumbotron-time {
    position: absolute;
    font-size: 14pt;
    top: 270px;
    right: 30px;
}


.contentRow {
    border: 1px solid rgb(174, 237, 241);
}

textarea {
    resize: none;
}

/* Parallax Stuff */

.parallax {
    background-image: url(../assets/images/backgrounds/sunset-ibaraki.jpg);
    background-attachment: fixed;
    background-position: 0% 140%;
    background-repeat: no-repeat;
    background-size: cover; 
}


.title {
    position: absolute;
}

.header {
    margin: 25px;
    margin-top: 90px;
    padding: 5px;
    border-bottom: 2px solid rgb(31, 202, 202)
}

#mypicture {
    float: left;
    max-height: 720px;
    max-width: 480px;
}

.title-header {
    color: rgb(145, 160, 157);
    text-decoration: underline;
    text-decoration-color: rgb(31, 202, 202);
}

.smallNotes {
    font-size: 10pt;
}

.center {
    margin: 0 auto;
    display: block;
}

.mainNotes {
    font-size: 13pt;
    text-indent: 50px;
}

form {
    margin: 0 auto;
    width: 50%
}

a {
    font-size: 14pt;
}

#leftSideTitle {
    margin-left: 180px;
}



/* Typewriter Animation */

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }