.card {
    padding: 5px;
    border: 1px solid black;    
    margin: 20px;
}


.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-primary {
    background-color: rgb(16, 134, 134);
    border-color: rgb(16, 134, 134);
    color: white !important;
    width: 100%;
}

.btn {
    margin-top: 5px;
}

.btn-secondary {
    background-color: black;
    border-color: black;
    color: white !important;
    width: 100%;
}

.btn-secondary:hover {
    background-color: gray;
    border-color: gray;
}