.footer {
  min-height: 60px;
  background: black;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: rgb(130, 192, 201);
  color: black;
}
