nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-nav {
  position: absolute;
  right: 0px;
  bottom: -40px;
  margin: 10px;
}

.nav-item {
  margin: 45px;
}

.navbar-nav>li>a {
  padding: 0;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: whitesmoke;
}

.navbar {
  border-bottom: 1px solid rgb(174, 237, 241);
}