nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  margin: 0;
}

.navbar-nav {
  position: absolute;
  right: 0px;
  bottom: -40px;
  margin: 10px;
}

.nav-item {
  margin: 45px;
}

.nav-link {
  font-size: 14pt;
  padding: 0 !important;
}

.navbar-nav>li>a {
  padding: 0;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: whitesmoke;
}

.navbar {
  border-bottom: 1px solid gray;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  font-weight: 600; 
  color: teal; 
}